html{
    font-size: 20px;
}
/* navbar */
.navbar
{
    display: flex;
    background-color: #2c3e50;
}
a
{
    color: white;
    text-decoration: none;
    font-family: Verdana, sans-serif;
}
a:hover
{
    color: rgb(123, 255, 0);
}

hr
{
    width: 10%; 
    height: 1vh; 
    background-color: cornsilk;
    margin-top: -2%;
}

/* projects */
.projects
{
    width: 100%;
    padding-top: 10%;

}
.line
{
    background-color: #2c3e50;
}
/* mobile design */
@media only screen and (max-width:700px)
{
    /* navbar */
    .navbar
    {
        flex-direction: column;
        position: fixed;
        top: 0%;
        left: 0%;
        right: 0%;
    }
    .logo-img
    {
        width: 15%;
        padding-top: 2%;
        padding-left: 2%;
    }
    .navbar-items
    {
        padding: 3%;    
    }
        


    /* introducing */
    .introducing
    {
        background-color: #1abc9c;
        margin-left: -7%;
        margin-right: -3%;
        display: flex;
        flex-direction: column;
    }
    .introducing-items
    {
        text-align: center;
        color: white;
    }
    .avatar-item
    {
        width: 100%;
    }
    .avatar
    {
        width: 60%;
        padding-top: 60%;
    }
    .name
    {
        font-size: 1.9rem;
        font-weight: bold;
        font-family: cursive;
    }
    .skills
    {
        font-family: Arial, sans-serif;
        font-size: 1rem;
        margin-top: 4%;
        padding-bottom: 15%;
    }


    /* Projects */
    .portfolio
    {
        display: flex;
        flex-direction: column;
        margin-left: 5%;
        margin-right: 5%;
        align-items: center;
    }
    .title
    {
        margin-top: 8%;
        font-size: 1.5rem;
        font-weight: bold;
        font-family: cursive;
        color: #2c3e50;
    }
    .projects-container
    {
        margin-top: 5%;
        display: flex;
        flex-direction: column;
   } 


}

/* tablet design */
@media only screen and (min-width: 701px) {
        /* navbar */
        .navbar
        {
            position: absolute;
            top: 0%;
            left: 0%;
            right: 0%;
            height: 10vh;
            align-items: center;
        }
        .logo-img
        {
            width: 7%;
            margin: 1%;
            padding-left: 10%;
        }
    
        main
        {
            display: flex;
            position: absolute;
            right: 10%;
            width: 40%;
            font-size: 1rem;
            justify-content: space-between;
        }
            
        /* introducing */
        .introducing
        {
            background-color: #1abc9c;
            position: absolute;
            top: 10%;
            left: 0%;
            right: 0%;
            display: flex;
            flex-direction: column;
        }
        .introducing-items
        {
            text-align: center;
            color: white;
        }
        .avatar-item
        {
            width: 100%;
        }
        .avatar
        {
            width: 17%;
            padding-top: 7.7%;
        }
        .name
        {
            font-size: 2.5rem;
            font-weight: bold;
            font-family: cursive;
        }
        .skills
        {
            font-family: Arial, sans-serif;
            font-size: 1.1rem;
            padding-bottom: 4%;
        }
    
        /* portfolio */
        .portfolio
        {
            display: flex;
            flex-direction: column;
            text-align: center;
            padding-top: 69%;
        }
        .title
        {
            font-size: 1.9rem;
            font-weight: bold;
            font-family: cursive;
            color: #2c3e50;
        }
        .projects-container
        {
            display: grid;
            grid-template-columns: 45% 45%;
            grid-column-gap: 5%;
            margin-top: 2%;
            margin-right: 10%;
            margin-left: 10%;
            padding: 0%;
        }

}


/* desktop design */
@media only screen and (min-width:970px) {
    /* navbar */
    .navbar
    {
        position: absolute;
        top: 0%;
        left: 0%;
        right: 0%;
        height: 10vh;
        align-items: center;
    }
    .logo-img
    {
        width: 7%;
        margin: 1%;
        padding-left: 10%;
    }

    main
    {
        display: flex;
        position: absolute;
        right: 10%;
        width: 40%;
        font-size: 1rem;
        justify-content: space-between;
    }
        
    /* introducing */
    .introducing
    {
        background-color: #1abc9c;
        position: absolute;
        top: 10%;
        left: 0%;
        right: 0%;
        display: flex;
        flex-direction: column;
    }
    .introducing-items
    {
        text-align: center;
        color: white;
    }
    .avatar-item
    {
        width: 100%;
    }
    .avatar
    {
        width: 17%;
        padding-top: 7.7%;
    }
    .name
    {
        font-size: 2.5rem;
        font-weight: bold;
        font-family: cursive;
    }
    .skills
    {
        font-family: Arial, sans-serif;
        font-size: 1.1rem;
        padding-bottom: 4%;
    }

    /* portfolio */
    .portfolio
    {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 58%;
    }
    .title
    {
        font-size: 1.9rem;
        font-weight: bold;
        font-family: cursive;
        color: #2c3e50;
    }
    .projects-container
    {
        display: grid;
        grid-template-columns: 30% 30% 30%;
        grid-column-gap: 5%;
        margin-top: 2%;
        margin-right: 10%;
        margin-left: 10%;
        padding: 0%;
    }
}   
